* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Arimo', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100vh;
}
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 40px;
    grid-column: 1/2;
    padding: 30px;
}
nav {
    position: fixed;
}
nav h1 {
    margin-bottom: 50px;
    letter-spacing: 0.1em;
}
#menu li a {
    text-decoration: none;
    color: #aaa;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2px;
    transition: 0.1s;
    letter-spacing: 0.06em;
}
#menu li a:hover {
    color: #fff;
    font-size: 1.2em;
}
ul {
    list-style: none;
}

#footer {
    padding-top: 50px;
    float: right;
}
#footer img{
    opacity: 0.6;
    width: 20px;
}

p {
    padding-top: 100px;
    font-size: 0.8em;
    color: #aaa;
    text-align: right;
}
p a {
    text-decoration: none;
    color: #ccc;
}

.pointer {
    cursor: pointer;
}

.hidden-img {
    display: none;
}

.selectedButton {
    background-color: red;
}
/* header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 40px;
    grid-column: 1/2;
}
nav {
    position: fixed;
}
ul {
    list-style: none;
}

#menu li a {
    padding: 10px;
    display: block;
    min-width: 100px;
    text-decoration: none;
    color: inherit;
}

#menu li a:hover {
    color: #555;
}

#menu li {
    float: left;
    text-align: center;
}

#menu li ul {
    display: none;
}

#menu li:hover ul {
    display: flex;
    flex-direction: column;
    position: absolute;
}

#menu li ul a {
    background-color: #222;
    font-size: 0.75em;
    text-align: left;
} */

.img-container {
    margin: 50px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2/3;
}
.img-item {
    padding: 10px;
}

.img-item img {
    transition: all 2s;
    width: 100%;
}
.img-item video {
    width: 100%;
}
.img-item-description{
    color: #fff;
    text-align: left;
    margin: 0;
    position: relative;
    bottom: 20%;
    margin-left: 20px;
}
