*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: #000;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100vh;
    overflow-x: hidden;
}

h1 {
  font-size: 3em;
  color: #fff;
  text-align: center;
}
#logo {
  cursor: pointer;
}

.row {
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 4px;
    grid-column: 2/3;
    align-items: center;
    justify-content: center;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 100vw;
    max-width: 100vw;
    padding: 4px;
    margin: 10px 10px;
    display: contents;
  }
  
  .column img {
    margin: 5px;
    vertical-align: middle;
    width: 100%;
    max-width: 500px;
  }
  .column img:hover {
    opacity: 0.5;
  }
  
  .column video {
    margin-top: 8px auto;
    vertical-align: middle;
    width: 100%;
    height: 100vh;

  }
  
  * {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Arimo', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    /* width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100vh; */
}
header {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 30px;
}
nav {
    position: fixed;
}
nav h1 {
    margin-bottom: 50px;
    letter-spacing: 0.1em;
    text-align: right;
}
#menu li a {
    text-decoration: none;
    color: #aaa;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2px;
    transition: 0.1s;
    letter-spacing: 0.06em;
    text-align: right;
}
#menu li a:hover {
    color: #fff;
    font-size: 1.2em;
}
ul {
    list-style: none;
}

#footer {
    padding-top: 50px;
    float: right;
}
#footer img{
    opacity: 0.6;
    width: 20px;
}

p {
    padding-top: 100px;
    font-size: 0.8em;
    color: #aaa;
    text-align: right;
}
p a {
    text-decoration: none;
    color: #ccc;
}

.pointer {
    cursor: pointer !important;
}

.hidden-img {
    display: none;
}

.selectedButton {
    background-color: red;
}

#header-responsive {
  display: none;
}
.menu-icon {
  visibility: hidden;
}
/* .achicar {
  width: 20% !important;
}

.achicar:hover {
  width: 100% !important;
} */

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 2em;
    color: #fff;
    text-align: center;
  }
}
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
    h1 {
      font-size: 2em;
      color: #fff;
      text-align: center;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
    .column video {
      width: 100%;
      height: 100vh;
    }
    .logo-nav {
      width: 20px;
      word-wrap: break-word;
      text-align: right;
      visibility: hidden;
      margin: 0px 20px 250% auto;
      vertical-align: middle;
    }
    .logo-nav:after {
      content: "TOTO TATUER";
      visibility: visible;
    }
    .navbar {
      margin: 20px;
    }
    .menu-icon {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      visibility: visible;
      position: absolute;
      top: 0;
      right: 0;
      margin: auto;
      z-index: 150;
    }
    .hamburger-icon {
      margin: 5% 10%;
      position: fixed;
      font-size: 2em;
      color: #fff;
    }
    /* #menu, #footer, #rights {
      display: hidden;
    } */
    .navbar-responsive {
      display: absolute;
      left: 0;
      top: 0;
    }
    #footer img {
      width: 50px;
    }
    .navbar-responsive {
      display: flex;
      width: 100vw;
      height: 100%;
      text-align: center;
      background-color: #000;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .item-responsive {
      font-size: 2em;
    }
    #menu-responsive li {
      margin: 20px;
    }
    #rights {
      text-align: center;
    }
    #header-responsive {
      z-index: 100;
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px;
      grid-column: 1/3;
      grid-row: 1/2;
      padding: 30px;
      float: middle;
      position: fixed;
  }
  .boton-close {
    font-size: 2em;
    margin: 50px 20px;
  }
  .close-menu {
    display: none;
    visibility: hidden;
    position: relative;
    transform: translateX(-500px);
    transition: all 0.5s;
  }
  .open-menu {
    visibility: visible;
  }
    /* #menu, #footer, #rights{
      position: relative;
      left: 200px;
      color: #fff;
      text-align: center;
      float: center;
      font-size: 1em;
      margin: auto;
    } */
  }


/* 
  .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
  } */


  #menu_on{
    display: inline-block;
    width:30px;
    height: 20px;
    position: relative;
    z-index: 200;
  }
   
  #menu_on span{
    width: 100%;
    height: 4px;
    border-radius: 4px;
    display: block;
    position: absolute;
    background: #fff;
    transition: all 0.25s ease; /* Propiedades a animar | Tiempo | Tipo animación*/
    transform-origin : 0px 100%;
  }
   
  #menu_on span:nth-child(2){
    top: calc(50% - 2px);
  }
   
  /* #menu_on span:nth-child(3){
  bot */